<div class="script-grid">
{% for s in site.data.scripts.scripts %}
  {% if s.key == "sarva" %}
    {% assign url = site.baseurl
      | append: "/"
      | append: include.parent
      | append: "/"
      | append: include.folder %}
  {% else %}
    {% assign url = site.baseurl
      | append: "/"
      | append: include.parent
      | append: "/"
      | append: include.folder
      | append: "/"
      | append: include.folder
      | append: "-"
      | append: s.key
      | append: ".pdf" %}
  {% endif %}

  <div class="script-cell">
    <a href="{{ url }}" target="_blank" rel="noopener">
      <img src="{{ '/assets/icons/' | append: s.img | relative_url }}" alt="{{ s.label }}">
    </a>
  </div>
{% endfor %}
</div>
