<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.simple_title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/site.css' | relative_url }}">
  {% include social-meta.html %}
</head>
<body>
  <header class="site-header">

    {% if page.banner %}
      <div class="site-banner site-banner--{{ page.banner }}">
        <img
          src="{{ '/assets/banners/periyava-banner--' | append: page.banner | append: '.jpeg' | relative_url }}"
          alt="{{ page.banner | capitalize }} banner">
      </div>
    {% endif %}
    <div class="site-title">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    </div>
    <h3 class="main-header">Shri Kanchi Kamakoti Mulamnaya Sarvajna Peetam<br/>
Jagadguru Shankaracharya Shrimatam Samsthanam<br/>
{% if page.banner == "panchanga-sadas" %}
    Panchanga Sadas and 
{% endif %}
Veda Dharma Shastra Paripalana Sabha (estd. CE 1942)
    </h3>
  </header>

  <main>

  {% if page.simple_title %}
    <h2 class="simple-title">{{ page.simple_title }}</h2>
  {% endif %}

  {{ content }}

  </main>

  <footer>
    <hr>
    <small>© <a href="https://kamakoti.org/">Shri Kanchi Kamakoti Peetham</a></small>
  </footer>
</body>
</html>
